body{
    background: rgb(97, 97, 212);
    font: normal 15pt ;
}

header{
   color: white;
   text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 30px 5px 10px rgba(0, 0, 0, 0.363);
}

#res{
    text-align: center;
    margin:auto;
    display: flex;
    
}
footer{
    font-style: italic;
    color: white;
    text-align: center;
}